@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #f9fbff;
  height: 100vh;
}

:root {
  --main-color: #3563e9;
  --sec-color: #54a6ff;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-45 {
  width: 45%;
}
.w-25 {
  width: 25%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.mg-top2 {
  margin-top: 2%;
}
.justify-center {
  justify-content: center;
}

.justify-space {
  justify-content: space-between;
}

.lh-sm {
  line-height: 1;
}

.lh-lg {
  line-height: 1.6;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.align-right {
  align-items: end;
}

.align-center {
  align-items: center;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.fit {
  width: fit-content;
}

.py-1 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.py-3 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.text-1 {
  letter-spacing: 1px;
}

.txt {
  margin-left: 8px;
  margin-right: 12px;
}

a {
  text-decoration: none;
}

nav {
  margin-top: 1%;
}
input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

.search-bar {
  border: 1px solid #c3d4e966;
  border-radius: 20px;
  width: 300px;
}

.icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.icons-container {
  gap: 20px;
}

.card-1 {
  background-color: var(--sec-color);
  width: 48%;
}

.card-2 {
  background-color: var(--main-color);
  width: 48%;
}

.card-1,
.card-2 {
  color: white;
  border-radius: 6px;
}
.card-content {
  margin-left: 2%;
}
.card-btn1,
.card-btn2 {
  display: block;
  width: fit-content;
  padding: 2%;
  border-radius: 4px;
  color: white;
  margin-top: 5%;
}

.card-btn1 {
  background-color: var(--main-color);
}

.card-btn2 {
  background-color: var(--sec-color);
}

.card-container img {
  margin-top: 2%;
  margin-left: 18%;
}

.card-container p {
  margin-top: 2%;
}

.ldt-content{
  background-color: rgb(222, 219, 214);
  border-radius: 8px;
  margin-top: 2%;
  padding: 3%;
}

.ldt-content h3{
  margin-bottom: 5%;
}

.ldt-item p{
  font-weight: bold;
}
.select p{
  border-right: 1px solid;
  padding-right:5%;
  margin-left: 2%;
  margin-top: 4%;
  font-size: small;
}
