@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root{
    --main-color:color #3563E9;
    --sec-color:color #54A6FF;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.justify-space{
    justify-content:space-between;
}

.lh-sm{
    line-height: 1;
}

.lh-lg{
    line-height: 1.3;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.align-right{
    align-items:end;
}

.align-center{
    align-items: center;
}

.abs{
    position: absolute;
}

.rel{
    position: relative;
}

.fit{
    width: fit-content;
}

.py-1{
    padding-top: 1%;
    padding-bottom: 1%;
}

.py-3{
    padding-top: 3%;
    padding-bottom: 3%;
}

.text-1{
    letter-spacing: 1px;
}

.txt{
    margin-left: 8px;
    margin-right: 12px;
}

a{
    text-decoration: none;
}

nav{
    margin-top: 1%;
}
input{
    border: none;
}

input:focus{
    border: none;
    outline: none;
}

.search-bar{
    border: 1px solid #C3D4E966;
    border-radius: 20px;
    width: 300px;
}

.icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.icons-container {
  gap: 20px;
}